<html>
<head>
  <meta charset="UTF-8">
  <style>
    body, html, table, tbody, tr, td, span {
      margin: 0;
      padding: 0;
      background: transparent;
      border: none;
    }

    body, html, table, tbody, tr, td {
      overflow: hidden;
    }


    body, html {
      width: {{width}}px;
      height: {{height}}px;
    }

    {{#fonts}}
    @font-face {
      font-family: '{{family}}';
      font-style: normal;
      font-weight: {{weight}};
      src: {{{src}}};
    }
    {{/fonts}}

    {{#fonts}}
    .font{{index}} {
      font-family: '{{family}}';
      font-style: normal;
      font-weight: {{weight}};
      {{{css}}}
    }
    {{/fonts}}

    tr, td {
      line-height: 1;
      height: {{cellHeight}}px;
      max-height: {{cellHeight}}px;
    }

    td {
      width: {{cellWidth}}px;
      max-width: {{cellWidth}}px;
      vertical-align: top;
    }

    td {
      font-size: {{fontSize}}px;
      color: white;
      position: absolute;
    }

    span {
      display: inline-block;
      position: relative;
    }
  </style>
</head>
<body>
  <table>
    {{#tableRows}}
    <tr>
      {{#cols}}
        <td id='{{index}}' style='top: {{top}}px; left: {{left}}px;'><span class='font{{ font }}'>{{{html}}}</span></td>
      {{/cols}}
    </tr>
    {{/tableRows}}
  </table>
</html>
